/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-mar-2015, 21:19:27
    Author     : juanlu
*/

#letras{
    display: none;
}

.fila{
    margin-top: 20px;
}

.botonera{
    font-size: 3em;
}

#letrasCancion{
    font-size: 1.5em;
}
#contieneLetra{
    overflow: scroll;
}